<h1>Хранилище напитков.</h1>

<div class="row new-item">
  <div class="col">
    <label>
      Название
      <input type="text" [(ngModel)]="newDrink.name" class="form-control" />
    </label>
  </div>
  <div class="col">
    <label>
      Стоимость
      <input type="number" [(ngModel)]="newDrink.cost" class="form-control" />
    </label>
  </div>
  <div class="col">
    <label>
      Количество
      <input type="number" [(ngModel)]="newDrink.count" class="form-control" />
    </label>
  </div>
  <div class="col">
    <label>
      Изображение
      <input type="file" accept="image/*" class="form-control" (change)="onFileChanged($event)" />
    </label>
  </div>
  <div class="col">
    <button class="btn btn-success operation" (click)="addDrink()">Добавить</button>
  </div>
</div>
<div class="row">
  <table class='table table-striped' *ngIf="drinks">
    <thead>
    <tr>
      <th style="width: 30%;">Этикетка</th>
      <th>Название</th>
      <th>Стоимость</th>
      <th>Количество</th>
      <th>Операции</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let drink of drinks" >
      <td><img src="data:image/JPEG;base64,{{drink.image.normalImage}}" style="width: 30%"></td>
      <td>{{ drink.name }}</td>
      <td>{{ drink.cost }}</td>
      <td>{{ drink.count }}</td>
      <td>
        <ng-template [ngIf]="editableDrink?.id != drink.id" [ngIfElse]="edit">
          <button class="btn btn-sm btn-primary" (click)="editDrink(drink)">Операции</button>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--шаблон для операций-->
<ng-template #edit>
  <div class="operation">
    <form [formGroup]="increaseForm" (ngSubmit)="increase(editableDrink)">
      <div class="form-row">
        <div class="col">
          <label for="icrease_count">Количество, шт</label>
        </div>
        <div class="col">
          <input type="number" id="icrease_count" class="form-control" formControlName="count">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary operation">Добавить</button>
        </div>
      </div>
    </form>
  </div>
  <div class="operation">
    <form [formGroup]="decreaseForm" (ngSubmit)="decrease(editableDrink)">
      <div class="form-row">
        <div class="col">
          <label for="decrease_count">Количество, шт</label>
        </div>
        <div class="col">
          <input type="number" id="decrease_count" class="form-control" formControlName="count">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary operation">Забрать</button>
        </div>
      </div>
    </form>
  </div>
  <div class="operation">
    <form [formGroup]="costForm" (ngSubmit)="updateDrink(editableDrink)">
      <div class="form-row">
        <div class="col">
          <label for="cost">Стоимость, руб</label>
        </div>
        <div class="col">
          <input type="number" id="cost" class="form-control" formControlName="cost">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary operation">Изменить</button>
        </div>
      </div>
    </form>
  </div>
  <div class="operation">
    <form [formGroup]="imageForm" (ngSubmit)="saveEditImage(editableDrink)">
      <div class="form-row">
        <div class="col">
          <label for="image">Новое изображение</label>
        </div>
        <div class="col">
          <input type="file" accept="image/*" id="image" class="form-control" (change)="onEditImage($event, editableDrink)" formControlName="image" />
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary operation">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
  <div class="operation">
    <button type="button" (click)="cancelEdit()" class="btn btn-primary operation">Выйти</button>
  </div>
</ng-template>

