<h1>Хранилище денег.</h1>

<p *ngIf="!monies"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="monies">
  <thead>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Стоимость</th>
    <th>Количество</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let money of monies" [ngClass]="{'enabled':money.enable,'not_enabled':!money.enable}">
    <td>{{ money.id }}</td>
    <td>{{ money.name }}</td>
    <td>{{ money.cost }}</td>
    <td>{{ money.count }}</td>
    <td>
      <ng-template [ngIf]="currentMoney?.id != money.id" [ngIfElse]="edit">
        <button class="btn btn-sm btn-primary" (click)="editMoney(money)">Операции</button>
      </ng-template>
    </td>
  </tr>
  </tbody>
</table>

<!--шаблон для операций-->
<ng-template #edit>
  <div>
    <form [formGroup]="increaseForm" (ngSubmit)="increase(currentMoney)">
      <label>
        Количество, шт:
        <input type="number" formControlName="count">
      </label>
      <button type="submit">Добавить</button>
    </form>
  </div>
  <div>
    <form [formGroup]="decreaseForm" (ngSubmit)="decrease(currentMoney)">
      <label>
        Количество, шт:
        <input type="number" formControlName="count">
      </label>
      <button type="submit">Забрать</button>
    </form>
  </div>
  <input type="button" value="Выйти" (click)="cancelEdit()" class="btn btn-sm btn-warning" />
</ng-template>

