<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Текущая покупка</span>
    </h4>
    <ul class="list-group mb-3">
      <li *ngFor="let drink of basket.drinks" class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">{{drink.name}}</h6>
          <small class="text-muted">Количество {{drink.count}}</small>
        </div>
        <span class="text-muted">{{drink.count * drink.cost}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Суммарная стоимость (руб)</span>
        <strong>{{basket.amount}}</strong>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Сдача (руб)</span>
        <strong>{{basket.oddMoney}}</strong>
      </li>
    </ul>
    <div class="card p-2">
      <div class="input-group">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">Оформить покупку</button>
        </div>
      </div>
    </div>
    <hr>
    <div *ngFor="let money of moneyEnableMoney" class="card p-2">
      <div class="input-group">
        <div class="input-group-append">
          <button type="button" (click)="addMoneyToBasket(money)" class="btn btn-outline-secondary">Добавить {{money.cost}} (руб)</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 order-md-1">
    <div class="row">
      <div *ngFor="let drink of drinksInStore" class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="data:image/JPEG;base64,{{drink.image.normalImage}}">
          <div class="card-body">
            <p class="card-text">{{drink.name}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" (click)="addDrinkToBasket(drink)" class="btn btn-sm btn-outline-secondary">Добавить</button>
              </div>
              <small class="text-muted">Стоимость {{drink.cost}} </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
